* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

header {
  display: flex;
  flex-direction: column;
  width: 352px;
  gap: 4px;
  text-align: center;
}

header > h1 {
  color: #f9f4da;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 26.06px;
  text-align: center;
}

header > p {
  color: #8e8e8e;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 18.24px;
  text-align: center;
}

.game-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 352px;
  height: 80px;
  border-radius: 4px;
  color: #f9f4da;
}

.game-status h3 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 26.06px;
}

.game-status p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 20.85px;
}

.game-status h4 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20.85px;
  font-style: italic;
}

.game-status.farewell {
  background-color: #7a5ea7;
  border: 1px solid #323232;
  padding: 10px;
  color: #fff;
}

.game-status.win {
  background-color: #10a95b;
}

.game-status.lose {
  background-color: #ba2a2a;
}

.language-chips {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 352px;
  flex-wrap: wrap;
  gap: 4.5px;
}

.language-chips span {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 15.64px;
  text-align: center;
  padding: 4.5px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
}

.language-chips span.lost::before {
  content: "\1F480";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.word-section {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.word-section span {
  width: 2.5rem;
  height: 2.5rem;
  padding: 6px;
  background-color: #323232;
  border-bottom: 1px solid #f9f4da;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 23.45px;
  text-align: center;
  color: #f9f4da;
}

.word-section span.missed-letter {
  color: #ec5d49;
}

.keyboard-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 480px;
}

.keyboard-section button {
  width: 40px;
  height: 40px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  padding: 6px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20.85px;
  text-align: center;
  color: #1e1e1e;
  background-color: #fcba29;
}

.keyboard-section button.correct {
  background-color: #10a95b;
}

.keyboard-section button.wrong {
  background-color: #ec5d49;
}

.keyboard-section > button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#new-game-btn {
  width: 228px;
  height: 40px;
  background-color: #11b5e5;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20.85px;
  text-align: center;
  color: #1e1e1e;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
